@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body{
      font-family: "Russo One", sans-serif;
}

html{
      scroll-behavior: smooth;
}

.book_section .swiper-slide{
      height: 200px !important;
}

.input{
      color: black;
}