@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Russo+One&display=swap');

body {

      height: 100%;
}

html {
      scroll-behavior: smooth;
}

.book_section .swiper-slide {
      height: 170px !important;
}

.input {
      color: black;
}

.booking_input::placeholder {
      color: black !important;
}

/*-----------------------------HERO SECTION--------------------------- */


.hero_image {
      object-fit: contain !important;
}

@media (max-width: 600px) {
      .hero_element {
            text-align: center;
            padding: 0 5px 0 5px;
      }
}

@media (min-width: 600px) and (max-width: 800px) {
      .hero_element {
            text-align: center;
      }
}


/*---------------------------------- ABOUT SECTION ----------------------------------------------- */


@media (max-width: 600px) {
      .about_element {
            display: flex;
            flex-direction: column;
      }

      .about_content {
            margin-top: 10px;
            padding-left: 10px;
            padding-right: 10px;
      }

      .about_image img {
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 20px;
            margin-top: 5px;
      }

      .about_container {
            scroll-margin-top: 10px;
      }
}

@media (min-width:600px) and (max-width: 800px) {
      .about_element {
            display: flex;
            flex-direction: column;
      }

      .about_container {
            scroll-margin-top: 20px;
      }

      .about_content {
            /* margin-top: 40px; */
            padding-left: 20px;
            padding-right: 20px;
      }

      .about_content h4 {
            text-align: center;
      }

      .about_image img {
            padding-left: 20px;
            padding-right: 20px;
            border-radius: 40px;
            margin-top: 20px;
      }
}

@media (min-width: 800px) and (max-width: 1280px) {
      .about_image img {
            height: 100%;
            border-radius: 30px;
      }

      .about_container {
            scroll-margin-top: 10px;
            padding: 20px
      }

}

@media (min-width:1280px) {
      .about_container {
            margin-top: 50px;
            padding-left: 10px;
            padding-right: 10px;
            scroll-margin-top: 20px;
      }

      .about_image img {
            border-radius: 20px;
      }
}


/*------------------------------ POPULAR HIGHLIGHTS------------------------------ */
/* 
@media (max-width:600px){
      .highlight_element{
       display: flex;
       flex-direction: column;
       align-items: center;
       gap: 30px;
       margin-top: 30px;
      }

      .highlight_heading{
            margin-top: 60px;
            text-align: center;
      }
      .highlight_each{
            padding: 10px;
            height: 50px;
            width: 80%;
      }
}

@media (min-width:600px) and (max-width:800px){
      .highlight_heading h2{
            margin-top: 50px;
            text-align: center;
      }

      .highlight_element{
            margin-top: 20px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;

      }

      .highlight_each{
            padding: 20px;
      }
} */




.swiper_container {
      display: flex;
      justify-content: center;
      align-items: center;
}

.rbc-day-bg {
      background: red;
}

.fc-media-screen {
      height: 600px;
}

.fc-event {
      color: white !important;
      border: none !important;
}

.fc-daygrid-event-dot {
      display: none !important;
}


/* .fc-daygrid-day-frame{
      /* background-color: red; */


/* .fc-event-title-container{
      background-color: rgb(214, 26, 26);
      padding: 15px;
} */


@media(max-width:450px) {
      .fc-toolbar-chunk {
            display: flex;
      }

      .fc-event-title {
            font-size: 5px;
      }
      /* .fc-sticky{
            font-size: 9px;
      } */

}

@media(min-width:450px) and (max-width:800px){
      .fc-event-title{
            font-size: 12px;
      }
}

/* .floatCOntainer{
      position: fixed;
      top: 10%;
      text-align: center;
      align-items: center !important;
      display: flex;
      z-index: 9999;
      /* height: 90px;
      width: 200px; */
      /* left: 28%; */
      /* color: #fff; */
      /* justify-content: center; */
/* }  */
/* .modalContent {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      position: fixed;
      top: 0;
      background: #000;
      z-index: 99999;
} */